.body{
   
    font-size: arial;
    background-image: url("./padel-4jpg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
    padding:0;

}
.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  

 
    
}
/* comienza el header */
header{
    padding 100%
    width: 100%;
    
}
.clase1{
    position: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 20px 70px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.6);
    
}

.logo{
    display: flex;
    justify-content: center;
    padding: 22px 20px;
    height: 100px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color:white;
    text-align: center;

   
}

.clase1 ul{
        display: flex;
        list-style: none;
        float: right;
        margin: 0;
        padding: 0;

         
}
.clase1 ul a{
line-height: 80px;
color: white;
padding: 12px 30px;
text-decoration: none;
font-size: 14px;
font-weight: bold;
text-transform: uppercase;
}
.clase1 ul li a:hover{
    background: rgba(255, 255, 255, 0.24);
    border-radius: 7px;
}
/* termina el header */

/* esto es el main */
section{
    margin: 70;
    padding: 20;
    box-sizing: border-box;
 
    color:white;
    padding-right: 20px;
    padding-left: -40px;
    text-align: center;
    text-decoration: none;
    
}
.Canchas-asociadas-al-ANP{
    color: greenyellow;
    font-size: 30px;
    
}  

 

.cajon1{
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.6);
  s
  

}
.cajon2{
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.6);
  
  
}
.cajon3{
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.6);
  
}
/* termina el main */


/* aca comienza el aside */
aside{
    background-color: aliceblue;
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.6);
    color: greenyellow;
     margin-left: 300px;
  
}
/* termina el aside */

/* comienza el footer */
.centrar{
    width: 100%;
 
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.6);
    margin: 0;
    padding: 0;
 
}

footer{
    width: 100%;
}
.titutlo-seccion{ 
    
   margin: 2px;
    color:blue
}
.copy{display: flex;
    justify-content: center;
    color: greenyellow;
}
.redes-sociales i{  
  

    font-size: 20px;
    padding: 10px;
    color:blue
  
}
/* termina el fotter */




